@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 980px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1230px) {
  .footer {
    margin: 0 15px;
  }
}
